.App {
  text-align: center;
}

button {
  font-family: 'El Messiri', sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

body {
  background: url('https://wadhahessam.github.io/restaurant-suggestion/img/background3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'El Messiri', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5d5d5d;
}

