.restaurant-main-information {
  display: inline-block;
  height: 100%;
  position: relative;
  bottom: 0px;
  margin-left: 5%;
}

.restaurant-name {
  width: auto;
  max-width: 204px;
  min-width: 150px;
  color: #9e6814;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
}

.rating {
  display: inline-block;
  position: relative;
  left: -23px;
}

.rating-value {
  width: 55px;
  position: relative;
  bottom: 26px;
  left: 99px;
  color: #dab800;
}

.is-open {
  position: relative;
  bottom: 20px;
  background-color: #2eb32e;
  color: white;
  width: 45px;
  border-radius: 17px;
  margin: auto;
}

.is-open-text {
  font-size: 12px;
}

.is-closed {
  position: relative;
  bottom: 20px;
  background-color: #b32727;
  color: white;
  width: 45px;
  border-radius: 17px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .restaurant-main-information {
    bottom: -4px;
  }
}