.suggestion-body {
  padding: 20px 20px 20px 20px;
  min-width: 326px;
  margin: auto;
  box-shadow: 0px 2px 29px 12px rgba(154, 154, 154, 0.99);
  -webkit-box-shadow: 0px 2px 29px 12px rgba(154, 154, 154, 0.99);
  -moz-box-shadow: 0px 2px 29px 12px rgba(154, 154, 154, 0.99);
  top: -100%;
  /* top: 0px; */
  right: 0;
  left: 0;
  border-radius: 5px;
  width: 84%;
  background-color: white;
  height: calc(92% - 59px);
  position: fixed;
  border-radius: 0px 0px 4px 4px;
  opacity: 0.9;
  max-width: 630PX;
}

.logo2 {
  height: 15%;
  position: relative;
  top: -7px;
}

.restaurant-information-section {
  height: 22%;
  border-radius: 4px;
}

.restaurant-image-div {
  display: inline-block;
  position: absolute;
  height: 100%;
  position: relative;
  margin: auto;
}

.restaurant-image {
  height: 75%;
  border-radius: 50%;
  border: 1px solid #a9a9a9;
  -webkit-box-shadow: -1px 3px 75px 5px rgba(171,171,171,1);
  -moz-box-shadow: -1px 3px 75px 5px rgba(171,171,171,1);
  box-shadow: -1px 3px 75px 5px rgba(171,171,171,1);
}

.map-div {
  display: block;
  height: 235%;
  text-align: start;
  background-color: white;
}

.map-pin {
  height: 50px;
  position: relative;
  bottom: 49px;
  right: 30px;
}

.links-div {
  height: 49px;
}

.link-logo {
  height: 30px;
  margin: 0px 10px;
  position: relative;
  bottom: 20px;
  filter: grayscale(80%);
}

.link-logo:hover {
  filter: grayscale(10%);
}

.box-shadow-div-left {
  right: 25px;
  height: 10px;
  width: 10px;
  margin: auto;
  position: relative;
  bottom: 49px;
  -webkit-box-shadow: -1px 3px 100px 13px rgba(171,171,171,1);
  -moz-box-shadow: -1px 3px 100px 13px rgba(171,171,171,1);
  box-shadow: -1px 3px 100px 13px rgba(171,171,171,1);
}

.box-shadow-div-right {
  left: 25px;
  height: 10px;
  width: 10px;
  margin: auto;
  position: relative;
  bottom: 57px;
  -webkit-box-shadow: -1px 3px 100px 13px rgba(171,171,171,1);
  -moz-box-shadow: -1px 3px 100px 13px rgba(171,171,171,1);
  box-shadow: -1px 3px 100px 13px rgba(171,171,171,1);
}


@media only screen and (max-width: 768px) {
  .link-logo { 
    bottom: 10px;
  }
}