.welcomeMenu {
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: #b17e24;
  border-radius: 50%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  box-shadow: 0px 2px 29px 12px rgba(86, 86, 86, 0.99);
  -webkit-box-shadow: 0px 2px 29px 12px rgba(109, 109, 109, 0.99);
  -moz-box-shadow: 0px 2px 29px 12px rgba(86, 86, 86, 0.99);
  opacity: 0;
}

.logo {
  position: relative;
  top: 0px;
  opacity: 0;
}

.suggest-button {
  display: -webkit-box;
  margin: auto;
  position: relative;
  top: 200px;
  height: 12%;
  width: 48%;
  border-radius: 29px;
  font-size: 25px;
  padding-top: 6px;
  color: #bb8008;
  font-weight: 700;
  opacity: 0;
  -webkit-box-shadow: 0px 3px 62px 7px rgba(148,148,148,1);
  -moz-box-shadow: 0px 3px 62px 7px rgba(148,148,148,1);
  box-shadow: 0px 3px 62px 7px rgba(148,148,148,1);
  cursor: pointer;
}

.suggest-button:hover {
  -webkit-box-shadow: 0px 3px 62px 17px rgba(148,148,148,1);
  -moz-box-shadow: 0px 3px 62px 17px rgba(148,148,148,1);
  box-shadow: 0px 3px 62px 17px rgba(148,148,148,1);
}

@media only screen and (max-width: 768px) {
  .welcomeMenu {
    height: 300px;
    width: 300px;
  }  
  .suggest-button {
    font-size: 19px;
    height: 15%;
  }
}